.buttom {
  width: 180px;
  height: 60px;
  background-color: #f25a70;
  box-shadow: 5px 5px 0px 0px #000;
  margin: 10px 20px;
  transition: transform 250ms linear;
}
.buttom:hover {
  -xpedu-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}