.navigation {
  display: inline-flex;
  align-items: center;
}
.navigation .action{
  display: flex;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  color: white;
  text-decoration: none;
  margin: 27px 30px;
  gap: 10px;
  align-items: center;
}
.action::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #f25a70;
}
